{% extends 'main/plantilla.html' %}
{% load static %}
{% block contenido %}


  <br> <br> <br> <br>    


<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main\img\cerveza-tipo-ale-758x426.png'%}" style="width:300px; height:170px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ale</h5>
          <p class="card-text">
            <h4> Origen </h4><h6> Desconocido.</h6>
            <h4> Grados de alcohol</h4><h6>Su graduación alcohólica varía entre 4,6% y 6,5%</h6> 
            <h4> Caracteristicas especiales </h4><h6>Posee un tomo mas dulce, aroma a malta y frutal con cuerpo</h6>
            <h4> Tipo de fermentación</h4><h6>Se utilizan levaduras de alta fermentación</h6>
            <h4> Precio </h4><h6> El precio varia desde los 5.000$ por pack de 4 unidades hasta los 15.000$ pesos por pack de unidades</h6>
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main\img\cerveza-tipo-lager-1-758x426.png'%}" style="width:300px; height:170px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lager</h5>
          <p class="card-text">
          <h4>Origen </h4><h6> Region de Baviera siglo XIX.</h6>
          <h4>Tipo de fermentación</h4><h6>Se utilizan levaduras de baja fermentación</h6>
          <h4>Grados de alcohol</h4><h6>Su graduación alcohólica varía entre 4% y 12%</h6> 
          <h4>Caracteristicas especiales</h4><h6>Suelen ser ligeras, espumosas, y suaves.</h6>
          <h4> Precio </h4><h6> El precio varia desde los 4.000$ por pack de 4 unidades hasta los 12.000$ pesos por pack de unidades</h6>
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main/img/trigo.jpg'%}" style="width:300px; height:170px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trigo</h5>
          <p class="card-text">
            <h4>Origen </h4><h6> Se data del siglo XV en el norte de europa</h6>
            <h4>Tipo de fermentación</h4><h6>Son cervezas de alta fermentación</h6></li>
            <h4>Grados de alcohol</h4><h6>Su graduación alcohólica varía entre 4.5% y 7%</h6> 
            <h4>Caracteristicas especiales </h4><h6>Las cervezas de trigo suelen ser turbias, es decir sin filtrar. Su versión filtrada se denomina Kristall</h6>
            <h4> Precio </h4><h6> El precio varia desde los 6.000$ por pack de 4 unidades hasta los 13.000$ pesos por pack de unidades</h6>
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main/img/variedades.jpg'%}"  style="width:300px; height:170px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Otras Especialidades</h5>
          <p class="card-text">
            <h4></u>Origen </u></h4><h6> Desconocido</h6>
            <h4></u>Tipo de fermentación</u></h4><h6>Se utilizan distintos tipos levaduras para fermentación</h6>
            <h4></u>Grados de alcohol</u></h4><h6>Su graduación alcohólica varía entre 4% y 20%</h6> 
            <h4>Caracteristicas especiales </h4><h6>Existe toda una gama de cervezas especiales que por sus características, su proceso de elaboración o sus ingredientes, son difíciles de clasificar en alguno de los apartados anteriores. Sin embargo, son cervezas que merecen ser conocidas y aprecia</h6></p>
            <h4> Precio </h4><h6> El precio varia desde los 8.000$ por pack de 4 unidades hasta los 25.000$ pesos por pack de unidades</h6>
        </div>
      </div>
    </div>
  </div>

  {% endblock contenido %}
