{% load static %}
<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/flexboxgrid.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/carousel.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-md nav fixed-top">
        <a class="navbar-brand" href="index"><img src="{% static 'main/img/LOGO.jpeg'%}" alt="logo" height="50"></a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
              </div>
          </div>
          <form class="form-inline">
            <a class="nav-item nav-link " href="cervezas.html">Cervezas</a>
            <a class="nav-item nav-link" href="registro.html">Registrarse</a>
            </form> 
  </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="row main center-xs">
        <form action="index.html" method="GET" id="formulario">
            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombres </label>
                        <input type="text" class="form-control" name="nombre" placeholder="Nombres">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="apee">Apellidos</label>
                            <input type="text" class="form-control" name="apellido" placeholder="Apellidos">
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="region">Región</label>
                        <input type="text" class="form-control" name="region" placeholder="Metropolitana">
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="correo">Correo electronico</label>
                    <input type="email" class="form-control" name="correo" placeholder="ejemplo@gmail.com">
                </div>
        </div>
            <div class="form-group">
                <label for="fnacimiento">Fecha nacimiento</label>
                <input type="date" class="form-control" name="fnacimiento" placeholder="Ingrese su nombre">
            </div>
            
            <button type="reset" class="btn btn-warning">Limpiar</button>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>

    <!-- script -->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/app.js"></script>  
</body>
</html>