{% extends 'main/plantilla.html' %}
{% load static %}
{% block contenido %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="row main center-xs">
        <form action="index.html" method="GET" id="formulario">
            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombres </label>
                        <input type="text" class="form-control" name="nombre" placeholder="Nombres">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="apee">Apellidos</label>
                            <input type="text" class="form-control" name="apellido" placeholder="Apellidos">
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="region">Región</label>
                        <input type="text" class="form-control" name="region" placeholder="Metropolitana">
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="correo">Correo electronico</label>
                    <input type="email" class="form-control" name="correo" placeholder="ejemplo@gmail.com">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" name="pass" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label for="fnacimiento">Fecha nacimiento</label>
                <input type="date" class="form-control" name="fnacimiento" placeholder="Ingrese su nombre">
            </div>
            
            <button type="reset" class="btn btn-warning">Limpiar</button>
            <button class="btn btn-primary" type="submit" >Enviar</button>
        </form>
    </div>
{% endblock contenido %}